<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Flask Task</title>
</head>
<body style="background-color:maroon">
 <table>
     <thead>
        <tr>
            <th style="font-family: sans-serif; color:yellow; font-size:200%; ">NAME</th>

            <th style="font-family: sans-serif; color:yellow; font-size:200%;">AGE</th>
        </tr>
     </thead>
        <tbody style="font-family: sans-serif; color:yellow; font-size:150%; text-align:center;">
            {% for data in table %}
                <tr>
                    <td>{{data}}</td>
                    <td>{{table[data]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
